<div class="modal-body">
  <div class="x_panel">
    <table class="table table-striped table-bordered table-hover dt-responsive display compact">
      <tbody>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">uuid</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="uuid"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">中文名称</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="cname"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">描述</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="description"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">关联频道</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="channel"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">关联电视盒</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="stb"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">关联app</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="app"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">类别</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="category"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">状态</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="status"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">建立时间</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="create_time"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">更新时间</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="update_time"></td>
        </tr>
      </tbody>
    </table>

    <div class="ln_solid"></div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4">
      <button type="button" class="btn btn-sm btn-default btn-block" data-dismiss="modal">
        <i class="glyphicon glyphicon-off"></i>
      </button>
    </div>
  </div>
</div>