<div class="modal-body">
  <div class="x_panel">
    <div>
      <h3>变更</h3>
    </div>
    <div class="ln_solid"></div>
    <form class="form-horizontal form-label-left" id="main">
      <div class="item form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="uuid">UUID</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <input class="form-control" type="text" id="uuid" name="uuid" disabled="disabled">
        </div>
      </div>

      <div class="item form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">代码</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <input class="form-control" type="text" id="name" name="name">
        </div>
      </div>

      <div class="item form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="cname">中文名称(简)</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <input class="form-control" type="text" id="cname" name="cname">
        </div>
      </div>

      <div class="item form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="tname">中文名称(繁)</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <input class="form-control" type="text" id="tname" name="tname">
        </div>
      </div>

      <div class="item form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="sort_id">排序号</label>
        <div class="col-md-2 col-sm-2 col-xs-12">
          <input class="form-control" type="text" id="sort_id" name="sort_id">
        </div>
      </div>

      <div class="item form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12">频道</label>
        <div class="col-md-9 col-sm-9 col-xs-12" id="channel">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12">状态</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <div class="radio">
            <label>
              <input type="radio" name="status" value="0">
              <span class="label label-danger">禁用</span>
            </label>
            <label>
              <input type="radio" name="status" value="1" checked="checked">
              <span class="label label-success">启用</label>
            <label>
          </div>
        </div>
      </div>

      <div class="ln_solid"></div>

      <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-3">
        <button type="button" class="btn btn-sm btn-default btn-block" data-dismiss="modal">
          <i class="glyphicon glyphicon-off"></i>
        </button>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-3">
        <button type="button" class="btn btn-sm btn-info btn-block" id="save">
          <i class="glyphicon glyphicon-floppy-disk"></i>
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  $(function () {
    // 获取所有频道信息，按首字母生成频道标签页，填充 $('div#channel') 对象
    $.ajax({
      'type': 'GET',
      'url': '/select/letter_channel',
      'async': false,
      'dataType': 'json',
      'contentType': 'application/json; charset=utf-8',
      'success': function (d) {
        // 标签页li
        var tab_li = [];
        $.each(d, function (i, v) {
          if (i == 0) {
            tab_li.push('<li class="active"><a href="#' + i + '" data-toggle="tab">' + v.tag + '</a></li>');
          } else {
            switch (v.tag) {
              case 'a':
                tab_li.push('<li><a href="#' + i + '" data-toggle="tab">广播</a></li>');
                break;

              case 'v':
                tab_li.push('<li><a href="#' + i + '" data-toggle="tab">虚拟</a></li>');
                break

              default:
                tab_li.push('<li><a href="#' + i + '" data-toggle="tab">' + v.tag + '</a></li>');
            }
          }
        });

        // 标签页content
        var tab_content = [];
        $.each(d, function (i, v) {
          if (i == 0) {
            tab_content.push('<div class="tab-pane fade in active" id="' + i + '">');
          } else {
            tab_content.push('<div class="tab-pane fade" id="' + i + '">');
          }

          $.each(v.channel, function (i, v) {
            tab_content.push('<div class="col-xs-3 col-sm-3"><input type="checkbox" name="channel" value="' + v.id + '"><span class="label label-success">' + v.text + '</span></div>');
          })

          tab_content.push('</div>');
        });

        // 标签页全部
        var html = '';
        html = '<ul id="myTab" class="nav nav-tabs">' + tab_li.join('') + '</ul>' + '<div id="myTabContent" class="tab-content">' + tab_content.join('') + '</div>';

        $('div#channel').append(html);
      }
    });

    // 表单验证
    var config = {
      'form': '#main',
      'language': myLanguage,
      'validate': {
        'name': {
          'validation': 'required',
        },
        'cname': {
          'validation': 'required',
        },
        'sort_id': {
          'validation': 'required',
        },
      },
    };

    $.validate({
      'modules': 'jsconf',
      'onModulesLoaded': function () {
        $.setupValidation(config);
      }
    });

    // 提交按钮事件
    $('button#save').on('click', function (e) {
      e.preventDefault();
      if ($('#main').isValid(myLanguage)) {
        // 获取更新值
        // 选中频道的uuid数组
        var channel = [];
        $('input:checkbox:checked[name=channel]').each(function () {
          channel.push($(this).val());
        });

        var data = {
          'uuid': $('#uuid').val(),
          'name': $('#name').val(),
          'cname': $('#cname').val(),
          'tname': $('#tname').val(),
          'sort_id': $('#sort_id').val(),
          'channel': channel,
          'status': $('input:radio:checked[name=status]').val()
        };


        // 数据提交后端
        form_ajax_submit(data, '/api/channel_category', 'PUT');
      } else {
        console.log('表单验证无效');
      }
    });

  })
</script>