<div class="modal-body">
  <div class="x_panel">
    <table class="table table-striped table-bordered table-hover dt-responsive display compact">
      <tbody>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">uuid</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="uuid"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">代码</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="name"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">中文名称(简)</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="cname"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">中文名称(繁)</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="tname"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">频道分类</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="category"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">排序号</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="sort_id"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">关联产品包</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="product"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">状态</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="status"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">建立时间</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="create_time"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">更新时间</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="update_time"></td>
        </tr>
      </tbody>
    </table>

    <div class="ln_solid"></div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4">
      <button type="button" class="btn btn-sm btn-default btn-block" data-dismiss="modal">
        <i class="glyphicon glyphicon-off"></i>
      </button>
    </div>
  </div>
</div>