<div class="modal-body">
  <div class="x_panel">
    <table class="table table-striped table-bordered table-hover dt-responsive display compact">
      <tbody>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">uuid</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="uuid"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">姓名</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="name"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">联系电话</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="phone"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">电子邮件</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="mail"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">地址</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="address"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">备注</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="description"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">购买机顶盒</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="stb"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">建立时间</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="create_time"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">更新时间</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="update_time"></td>
        </tr>
      </tbody>
    </table>

    <div class="ln_solid"></div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4">
      <button type="button" class="btn btn-sm btn-default btn-block" data-dismiss="modal">
        <i class="glyphicon glyphicon-off"></i>
      </button>
    </div>
  </div>
</div>