<div class="modal-body">
  <div class="x_panel">
    <div>
      <h3>删除</h3>
    </div>
    <div class="ln_solid"></div>
    <form>
    <div class="col-md-12 col-sm-12 col-xs-12" id="info"></div>
    </form>
    <div class="ln_solid"></div>
    <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-3">
      <button type="button" class="btn btn-sm btn-default btn-block" data-dismiss="modal">
        <i class="glyphicon glyphicon-off"></i>
      </button>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-3">
      <button type="button" class="btn btn-sm btn-warning btn-block" id="save">
        <i class="glyphicon glyphicon-floppy-disk"></i>
      </button>
    </div>
  </div>
</div>