<div class="modal-body">
  <div class="x_panel">
    <table class="table table-striped table-bordered table-hover dt-responsive display compact">
      <tbody>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">uuid</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="uuid"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">code</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="code"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">中文名称</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="cname"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">别名</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="alias"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">域名</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="domain"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">测速地址</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="speed_test_url"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">直播区域</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="continent"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">支持码流</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="rate"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">已生效频道</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="channel"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">待新增频道</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="add"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">待移除频道</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="remove"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">状态</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="status"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">建立时间</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="create_time"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">更新时间</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="update_time"></td>
        </tr>
      </tbody>
    </table>

    <div class="ln_solid"></div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4">
      <button type="button" class="btn btn-sm btn-default btn-block" data-dismiss="modal">
        <i class="glyphicon glyphicon-off"></i>
      </button>
    </div>
  </div>
</div>