<div class="modal-body">
  <div class="x_panel">
    <div>
      <h3>变更</h3>
    </div>
    <div class="ln_solid"></div>
    <form class="form-horizontal form-label-left" id="main">
      <div class="item form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="old">旧密码(至少6位)</label>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <input class="form-control" type="password" id="old" name="old">
        </div>
      </div>

      <div class="item form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="new">新密码(至少6位)</label>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <input class="form-control" type="password" id="new" name="new">
        </div>
      </div>

      <div class="item form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="repeat">新密码(验证)</label>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <input class="form-control" type="password" id="repeat" name="repeat">
        </div>
      </div>

      <div class="ln_solid"></div>

      <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-3">
        <button type="button" class="btn btn-sm btn-default btn-block" data-dismiss="modal">
          <i class="glyphicon glyphicon-off"></i>
        </button>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-3">
        <button type="button" class="btn btn-sm btn-info btn-block" id="save">
          <i class="glyphicon glyphicon-floppy-disk"></i>
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  $(function () {
    // 表单验证
    var config = {
      'form': '#main',
      'language': myLanguage,
      'validate': {
        'old': {
          'validation': 'required,length',
          'length': 'min6'
        },
        'new': {
          'validation': 'required,length',
          'length': 'min6'
        },
        'repeat': {
          'validation': 'confirmation',
          'confirm': 'new'
        },
      },
    };

    $.validate({
      'modules': 'security, jsconf',
      'onModulesLoaded': function () {
        $.setupValidation(config);
      }
    });

    // 提交按钮事件
    $('button#save').on('click', function (e) {
      e.preventDefault();
      if ($('#main').isValid(myLanguage)) {
        // 获取更新值
        var data = {
          'uuid': '{{ current_user.uuid }}',
          'old': $('#old').val(),
          'new': $('#new').val()
        };

        // 数据提交后端
        //console.log(data);
        form_ajax_submit(data, '/api/user', 'PUT');
      } else {
        console.log('表单验证无效');
      }
    });

  })
</script>