<div class="modal-body">
  <div class="x_panel">
    <table class="table table-striped table-bordered table-hover dt-responsive display compact">
      <tbody>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">uuid</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="uuid"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">sn</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="sn"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">型号</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="model"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">版本</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="version"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">购买人</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="customer"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">开通时间</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="purchase_time"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">产品包</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="product"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">会员</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="vip"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">合作商</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="partner"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">分组</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="grouping"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">访问位置</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="access_location"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">访问ip</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="access_ip"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">访问时间</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="access_time"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">推荐直播节点</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="live_node"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">状态</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="status"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">建立时间</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="create_time"></td>
        </tr>
        <tr>
          <th class="col-md-2 col-sm-2 col-xs-4">更新时间</th>
          <td class="col-md-10 col-sm-10 col-xs-8" id="update_time"></td>
        </tr>
      </tbody>
    </table>

    <div class="ln_solid"></div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4">
      <button type="button" class="btn btn-sm btn-default btn-block" data-dismiss="modal">
        <i class="glyphicon glyphicon-off"></i>
      </button>
    </div>
  </div>
</div>